<%
meta :title => "Jumpstartrails",
	 :description => "The Jump Start Rails App",
	 :keywords => %w(rails ruby on rails Rails)
%>

<h1>Pages#index</h1>
<p>Find me in app/views/pages/index.html.erb</p>
